html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Lato', sans-serif;
}

.top-nav {
    display: block;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav ul li {
    display: inline-block;
    margin-left: 1.75rem;
}

.top-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.125rem;
}

.top-nav ul li a:hover {
    color: #afafaf;
    transition: 0.15s ease-in;
}

#section-landing {
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.wrapper-landing {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 40%;
}

.wrapper-landing h1 {
    font-size: 3rem;
    color: #ffffff;
    margin: 0;
    font-weight: 100;
}

.wrapper-landing h2 {
    font-size: 2.625rem;
    color: #f2f2f2;
    opacity: 0.6;
    margin: 0;
    font-weight: 100;
}

.btn-login {
    border: 0.063rem solid #ffffff;
    padding: 0.375rem 1.5rem;
}

.navbar {
    width: 100%;
    height: 4.375rem;
    background-color: #1a1a1a;
    box-shadow: 0 0 0.625rem #1a1a1a;
}

.container-login {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%; 
}

.wrapper-login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login input {
    width: 12.5rem;
    height: 1.625rem;
    border: 0.063rem solid #cccccc;
    background-color: #f5f5f5;
    font-size: 1.125rem;
    display: block;
    position: relative;
    margin: 1.25rem auto;
}

input::placeholder {
    color: #a1a1a1;
    font-size: 0.875rem;
}

.wrapper-login h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

#submit {
    width: 12.5rem;
    height: 2.625rem;
    border: 0.063rem solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.25rem;
    margin: 1.25rem 0 0 0;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
    transition: 0.15s ease-in;
}

.options a {
    color: #006400;
}

.options a:hover {
    color: #000000;
    transition: 0.20s ease-in;
    text-decoration: none;
}

.invalidFeedback {
    color: #ff0000;
    display: block;
}

.container-mvckdemo {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.wrapper-mvckdemo {
    width: 80%;
    margin: 2%;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding-left: 3.125rem;
    text-align: left;
}

.input-field-error-message{
    margin-right: 1.25rem;
}

.read-only:disabled  {
    background: #cccccc;
    border: #cccccc;
  }

  .extra-mrt{
    margin-right:0.75rem; 
    margin-top:0.625rem;
  }

div.alert {
    width:100%;
    height:10%;
    text-align:center; 
    margin-top:2%;
    color:white; 
}

div.alert.success {
    background-color:#4CAF50;
    border: 0.05rem solid blue;
}


div.alert.error {
    background-color:#f24b09;
    border: 0.05rem solid blue;
}
